@font-face {
    font-family: "VisbyRoundCF";
    src: url(./VisbyRoundCF-Medium.otf) format("opentype");
}

#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: min-content;
    transition: linear 0.5s;
}

#graph-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
    width: min-content;
    margin-left: 15px;
}

.flex div {
    font: bold 2.7rem 'VisbyRoundCF';
    display: inline;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

#marvtext {
    color: rgb(136, 198, 255)
}

#perftext {
    color: rgb(255, 255, 0)
}

#greattext {
    color: rgb(0, 255, 0)
}

#goodtext {
    color: rgb(34, 116, 192)
}

#badtext {
    color: rgb(255, 0, 255)
}

#misstext {
    color: rgb(255, 0, 0)
}

#marvcount,
#perfcount,
#greatcount,
#goodcount,
#badcount,
#misscount
{
    color: white
}
