@font-face {
    font-family: "VisbyRoundCF";
    src: url(./VisbyRoundCF-Medium.otf) format("opentype");
}

#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: min-content;
    transition: linear 0.5s;
    background: #00000099;
    border-radius: 15px;
    padding: 0px 10px 5px;
}

#graph-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
    width: min-content;
    margin-left: 15px;
}

.flex div {
    font: bold 2.7rem 'VisbyRoundCF';
    display: inline;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

#marvtext {
    color: #88c6ff
}

#perftext {
    color: #ffff00
}

#greattext {
    color: #00ff00
}

#goodtext {
    color: #2274c0
}

#badtext {
    color: #ff00ff
}

#misstext {
    color: #ff0000
}

#marvcount,
#perfcount,
#greatcount,
#goodcount,
#badcount,
#misscount
{
    color: white
}
